/* SFONDO GENERALE SCURO  */
body {
  background-color: #000 !important;
  color: white !important;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", Arial, sans-serif;
}

/* SCROLLBAR  */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

/* IMMAGINI */
img {
  display: block;
  object-fit: cover;
}

/* CONTENITORE PRINCIPALE */
main {
  background-color: #000;
}

/* NASCONDI SCROLLBAR */
.hide-scrollbar {
  overflow-x: scroll;
  scrollbar-width: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

/* HOVER NETFLIX */
.movie-card {
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.1);
  z-index: 10;
}
